<!DOCTYPE html>
<html>
	<head>
 <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="stylesheet" type="text/css" href="__ROOT__/static/theme/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="__ROOT__/static/theme/css/lunbo.css"/>
		<script type="text/javascript" src="__ROOT__/static/theme/css/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="__ROOT__/static/theme/css/jquery.SuperSlide.2.1.1.js"></script>
		<script type="text/javascript" src="__ROOT__/static/theme/css/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="__ROOT__/static/theme/css/jquery.event.drag-1.5.min.js"></script>
		<script type="text/javascript" src="__ROOT__/static/theme/css/jquery.touchSlider.js"></script>
		<script type="text/javascript" src="__ROOT__/static/theme/css/js.js"></script>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/statics/css/hui.css">
	</head>
	<body style="background-size: 100%;background-repeat: no-repeat;background-image: url(__ROOT__/static/theme/img/背景.png);height: 100%;">
		<div class="shouye_tou">			
				<span class="sp2">
					首页
				</span>			
		</div>
		
		<div class="shouye_banner">
			<div class="shouye_bannerz">
				
				<!-- 轮播图 -->
		<div class="main-icon">
			<div class="main_visual">
				<div class="flicking_con">
					<a href="#">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">6</a>
				</div>
				<div class="main_image">
					<ul>
						<li><span class="img_3"  style=" width: 300px;height: 150px; background: url(__ROOT__/static/theme/img/bannner.png);) center top no-repeat;"></span></li>
						<li><span class="img_4"  style="background: url(__ROOT__/static/theme/img/2.jpg);) center top no-repeat;"></span></li>
						<li><span class="img_1"  style="background: url(__ROOT__/static/theme/img/3.jpg);) center top no-repeat;"></span></li>
						<li><span class="img_2"  style="background: url(__ROOT__/static/theme/img/1.jpg);) center top no-repeat;"></span></li>
						<li><span class="img_2"  style="background: url(__ROOT__/static/theme/img/2.jpg);) center top no-repeat;"></span></li>
						<li><span class="img_2"  style="background: url(__ROOT__/static/theme/img/3.jpg);) center top no-repeat;"></span></li>
					</ul>
					<a href="javascript:;" id="btn_prev"></a>
					<a href="javascript:;" id="btn_next"></a>
				</div>
			</div>
		</div>
				
				
				
				
			</div>
		</div>
		<div class="shouye_laba">
			<div class="shouye_labaz">
				<img src="__ROOT__/static/theme/img/laba.png" style="width: 15px;height: 15px;"/><span class="sp3">恭喜用户131****8006获得佣金0.76元</span>
			</div>
		</div>
		
		<div class="shouye_zhongbu">
			<div class="shouye_zhongbuz">
				<ul>
					<li><a href="{:url('ctrl/recharge_before')}"><img src="__ROOT__/static/theme/img/充值.png"/><p>充值</p></a></li>
					<li><a href="{:url('my/msg')}"><img src="__ROOT__/static/theme/img/我的消息.png"/><p>我的消息</p></a></li>
					<li><a href="{:url('support/index')}"><img src="__ROOT__/static/theme/img/在线客服.png"/><p>在线客服</p></a></li>
					<li><a href="{:url('index/message')}"><img src="__ROOT__/static/theme/img/公告.png"/><p>公告</p></a></li>
				</ul>
			</div>
		</div>
		<div class="rmzq">
			<div class="rmzqz">
				<p><img src="__ROOT__/static/theme/img/tubiaozhizuo-.png"/ style="width: 2px;height: 10px;"><span>热门专区</span></p>
			</div>
		</div>
		<div class="shouye_zhuanqu">
			<div class="shouye_yi">
			{foreach $cate as $key=>$vo}
				<div class="img1"><img src="{$vo.cate_pic}" style="width: 140px;height: 84px; z-index:-1; float: left;"/>
				<div class="rongjing"><span>佣金:0.5%</span></div></div>
				{/foreach}
			</div>
			
		</div>
		{include file="public/floor" /}
	</body>
</html>
<script type="text/javascript">
		$(document).ready(function(){
		
			$(".main_visual").hover(function(){
				$("#btn_prev,#btn_next").fadeIn()
			},function(){
				$("#btn_prev,#btn_next").fadeOut()
			});
			
			$dragBln = false;
			
			$(".main_image").touchSlider({
				flexible : true,
				speed : 200,
				btn_prev : $("#btn_prev"),
				btn_next : $("#btn_next"),
				paging : $(".flicking_con a"),
				counter : function (e){
					$(".flicking_con a").removeClass("on").eq(e.current-1).addClass("on");
				}
			});
			
			$(".main_image").bind("mousedown", function() {
				$dragBln = false;
			});
			
			$(".main_image").bind("dragstart", function() {
				$dragBln = true;
			});
			
			$(".main_image a").click(function(){
				if($dragBln) {
					return false;
				}
			});
			
			timer = setInterval(function(){
				$("#btn_next").click();
			}, 5000);
			
			$(".main_visual").hover(function(){
				clearInterval(timer);
			},function(){
				timer = setInterval(function(){
					$("#btn_next").click();
				},5000);
			});
			
			$(".main_image").bind("touchstart",function(){
				clearInterval(timer);
			}).bind("touchend", function(){
				timer = setInterval(function(){
					$("#btn_next").click();
				}, 5000);
			});
			
		});
		</script>