<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>抢单页面</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/statics/css/hui.css">

    <script src="__ROOT__/static/plugs/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="__ROOT__/public/js/layer_mobile/need/layer.css">
    <script src="__ROOT__/public/js/ui.js"></script>
    <script src="__ROOT__/public/js/layer_mobile/layer.js"></script>
    <link rel="stylesheet" href="__ROOT__/public/css/ui.css">
    <script src="__ROOT__/public/js/common.js"></script>
    <style>
        #yongjin{
            position: relative;
            top: -60px;
            right:10px;;
            text-align: right;
        }
        #yongjin span{
            display: inline-block;
            background: #FF5722;
            padding:2px 5px;
            font-size: 12px;
            border-radius: 14px;
            color: #fff;
        }
        .loading {
            width: 2rem;
            height: 2rem;
            margin: auto;
            background-image: url(__ROOT__/public/img/load.png);
            background-size: 100%;
            background-repeat: no-repeat;
            animation: load 2s linear infinite;

        }

        @keyframes load {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body>
<header class="hui-header">
    <!-- <div id="hui-back"></div> -->
    <h1 style="">
        {$cate.name}
    </h1>
</header>
<div class="hui-wrap" style="
    background-image: linear-gradient(0deg,#7669fd,#8a6eff);
">
    <div class="hui-common-title" style="margin-top:15px;">
        <div class="hui-common-title-line"></div>
        <div class="hui-common-title-txt">今日佣金￥ {$day_deal|format='%.2f'} </div>
        <div class="hui-common-title-line"></div>
    </div>
    <div id="yongjin"><span>佣金{$cate.bili*100}%</span></div>
    <div class="user-wallet">
        <ul>
            <li>
                <a href="">
                    <span>今日已抢单数</span>
                    <h3>{$day_d_count|default=0}</h3>
                </a>
            </li>

            <li>
                <a href="">
                    <span>今日冻结单数</span>
                    <h3>{$day_l_count|default=0}</h3>

                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="">

                    <span>可用抢单余额</span>
                    <h3>￥ {$price|format='%.2f'}</h3>
                </a>
            </li>

            <li>
                <a href="">
                    <span>当前余额</span>
                    <h3>￥ {$price|format='%.2f'}</h3>

                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="">
                    <span>账户冻结总金额</span>
                    <h3>￥ {$lock_deal|format='%.2f'}</h3>

                </a>
            </li>

            <li>
                <a href="">
                    <span>团队总佣金</span>
                    <h3>￥ {$team_num|format='%.2f'}</h3>

                </a>
            </li>
        </ul>
    </div>
</div>


<div style="background:#FFF; padding:0px 15px; margin:10px;" class="hui-flex">
    <div style="height:46px; width:20px;">
        <img src="__PUBLIC__/statics/img/spiker.png" width="20" style="padding:13px 0px;">
    </div>


    <div class="hui-scroll-news" id="scrollnew1">
        <div class="hui-scroll-news-items     ">恭喜用户181****8896获得佣金0.66元</div>
        <div class="hui-scroll-news-items     ">恭喜用户181****8896获得佣金0.76元</div>
    </div>
</div>


<div style="padding:28px;margin-top: 0rem;">
    <button type="button" class="hui-button hui-button-large self_btn" id="btn1" style=" background-color: #7669fd; color: #fff;" data-open="1">开启自动抢单</button>

    <!-- <button type="button" class="hui-button hui-button-large" id="btn2" style="margin-top:20px;">停止抢单</button> -->
</div>



<div style="width:82%;margin-left:5%;background-color:white;margin-top:1rem;padding:1rem 1rem 1rem 1rem;font-size:0.6rem">
    <div style="color:blue">
        备注说明
    </div>

    <div>
        抢单功能是根据随机抢单1-2分钟时间匹配,抢单成功后跳出商品及价格,点击确认已完成，即可完成本次抢单,获取商品价值{$cate.bili*100}%的抢单佣金。
    </div>
</div>

<div class="hui-fooer-line"></div>
{include file="public/floor" /}


<!-- 隐藏域数值 -->
<input type="hidden" name="qd_time_intvel" value="10">

<input type="hidden" name="type" value="1">



<script src="__ROOT__/statics/js/hui.js" type="text/javascript" charset="utf-8"></script>

<script src="__ROOT__/public/js/swiper.min.js"></script>
<script type="text/javascript">
    hui.scrollNews(scrollnew1);
    // hui.scrollNews(scrollnew2, 8000);
</script>

<script type="text/javascript">
    var submit = true, status = false, timer = null, ajaxT = null,lay=0;

    $('.self_btn').click( function() {
        layer.open({
            content: '抢单中...<br/><div class="loading"></div>'
            , btn: ['停止抢单',],
            shadeClose: false
            , yes: function (index) {
                lay=index;
                clearTimeout(ajaxT);//清除抢单请求
                QS_toast.show('已停止抢单', true);
                layer.close(index)
            }
        });

        // 延时发送抢单请求
        ajaxT = setTimeout( function() {
            $.ajax({
                url: "{:url('submit_order')}",
                type: "POST",
                dataType: "JSON",
                data: {cid:"{$cate.id}"},
                success: function(res) {
                    console.log(res)
                    status = true;
                    if (res.code == 0) {
                        QS_toast.show(res.info, true);
                        layer.close(lay)
                        sessionStorage.setItem('oid', res.oid);
                        var timer = setTimeout(function() {
                            location.href = "{:url('ctrl/order_info')}"
                        }, 1800)
                    }else if (res.code == 2) {
					    QS_toast.show(res.info, true)
                        layer.close(lay)
                        setTimeout(function() {
                            location.href = "/index/ctrl/receive_site.html"
                        }, 2000)
                    } else {
                        QS_toast.show(res.info, true)
                        layer.close(lay)
                    }

                },
                error: function(err) { console.log(err) }
            })
        },5000)
    })
</script>


<script type="text/javascript">


    // hui('#btn2').click(function(){
    //     if(!window.plus){
    //         hui.alert('停止抢单');
    //         return false;
    //     }
    //     hui.h5Loading(false, '加载中...',{round:2, padding:'20px', textalign:'right'});
    //     setTimeout(function(){hui.h5Loading(true);}, 2000);
    // });
</script>



</body></html>